<h3><%= t('action.edit')する %></h3>

<div class="lists">
  <div class="box-create-list">
    <%= form_with(model: @meeting_log, local: true) do |f| %>
      <%= render partial: "form", locals: {f: f} %>
      <%= f.submit t('action.edit') %>
    <% end %>
  </div>
</div>
