// Place all the styles related to the meeting_logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.meetinglog-index-menu {
  margin: auto;
  text-align: center;
}

.circle-meetinglog {
  display: inline-block;
  color: #474a4d;
  width: 100px;
  height: 100px;
  margin: 10px 20px 30px 10px;
  border-radius: 50%;
  font-weight: bold;
  background-color: #fff;
}

p.new-line {
  margin: 28px 0;
}

.box-search {
  display: inline-block;
  padding: 10px 15px;
  margin: 20px;
  width: 450px;
  color: #474a4d;
  background-color: #fff;
  border-radius: 10px;
}

table.search {
  width: 450px;
}

table.search th {
  width: 150px;
  padding: 5px;
}

table.search td {
  width: 300px;
  text-align: left;
}

.list {
  display: inline-block;
  padding: 0px 10px 20px 10px;
  margin: 30px 20px 20px 20px;
  height: 370px;
  width: 250px;
  line-height: 25px;
  color: #474a4d;
  background-color: #fff;
  border-radius: 10px;
  overflow: scroll;
}

table.table-list {
  height: 300px;
  width: 200px;
}

.lists {
  text-align: center;
}

.table-list {
  margin: auto;
}

td.list-image {
  height: 200px;
}

.list-learn {
  display: inline-block;
  padding: 20px 20px 30px;
  margin: 20px;
  height: 300px;
  width: 250px;
  text-align: center;
  line-height: 30px;
  color: #474a4d;
  background-color: #fff;
  border-radius: 10px;
}

.box-create-list {
  display: inline-block;
  width: 600px;
  padding: 30px 50px 30px 40px;
  // margin-left: 50%;
  // line-height: 30px;
  color: #474a4d;
  background-color: #fff;
  border-radius: 10px;
}

table.meetinglog-form tr {
  height: 60px;
}

table.meetinglog-form th {
  width: 150px;
  text-align: left;
}

table.meetinglog-form td {
  width: 350px;
  text-align: left;
}

h4 {
  margin: 40px 0 20px;
  color: #89c3eb;
}


table.wh {
  width: 100%;
  border-collapse: collapse;
}

table.wh tr {
  border: solid 1px #89c3eb;
}

table.wh tr:last-child th {
  border-bottom: solid 1px #89c3eb;
}

table.wh th {
  text-align: left;
  width: 25%;
  background-color: #89c3eb;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-bottom: solid 2px #fff;
}

table.wh td {
  text-align: left;
  width: 75%;
  padding-left: 30px;
  background-color: #fff;
}

.box-profile {
  text-align: center;
}

table.profile {
  display: inline-block;
  width: 100px;
  margin: 10px;
  text-align: center;
  border-collapse: collapse;
}

table.profile tr {
  border: solid 2px #89c3eb;
}

table.profile th {
  width: 100px;
  border: solid 1px #89c3eb;
  text-align: center;
  color: #fff;
  background-color: #89c3eb;
}

table.profile-long {
  width: 100%;
  margin: 15px 0px 10px 0px;
}

table.profile-long tr {
  border: solid 1px #89c3eb;
}

table.profile-long th {
  text-align: center;
  background-color: #89c3eb;
  color: white;
  border-bottom: solid 1px #89c3eb;
}

table.profile-long td {
  text-align: left;
  padding-left: 10px;
  line-height: 30px;
  background-color: #fff;
}

.comment {
  text-align: center;
}

p.list-status {
  text-align: left;
  float: left;
}

p.edit-delete {
  text-align: right;
}

.list-tag {
  height: 55px;
  text-align: left;
  color: #89c3eb;
  overflow: scroll;
}
