// Place all the styles related to the meeting_logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle-meetinglog {
  display: inline-block;
  color: #474a4d;
  width: 100px;
  height: 100px;
  margin: 50px 20px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
}

p.new-line {
  margin: 28px 0;
}

.box-search {
  display: inline-block;
  padding: 30px 20px;
  margin-left: 30px;
  width: 400px;
  color: #474a4d;
  background-color: #fff;
  border-radius: 10px;
}

.meetinglog-index-menu{
  text-align: center;
}

.list {
  display: inline-block;
  padding: 20px 20px 30px;
  margin: 20px;
  height: 350px;
  width: 250px;
  text-align: center;
  line-height: 25px;
  color: #474a4d;
  background-color: #fff;
  border-radius: 10px;
}

.lists {
  text-align: center;
}

.table-list {
  margin: auto;
}

td.list-image {
  height: 200px;
}

.list-learn {
  display: inline-block;
  padding: 20px 20px 30px;
  margin: 20px;
  height: 300px;
  width: 250px;
  text-align: center;
  line-height: 30px;
  color: #474a4d;
  background-color: #fff;
  border-radius: 10px;
}
