body {
  background-color: #89c3eb;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  height: 50px;
  background-color: #fff;
}

footer {
  height: 50px;
  width: 100%;
  margin-top: auto;
  padding-top: 50px;
  text-align: center;
  color: #fff;
}

.navbar-brand {
  margin-left: 10px;
  color: #89c3eb;
}

.list-inline {
  margin-right: 50px;
}

.list-inline li {
  padding: 15px;
}

li {
  list-style: none;
}

h1, h3 {
  margin: 3em 1em 1.5em;
  text-align: center;
  color: #fff;
}

.box_top {
  padding: 30px 10px;
  margin: auto;
  width: 600px;
  text-align: center;
  line-height: 25px;
  color: #474a4d;
  background-color: #fff;
  border-radius: 10px;
}

.flash {
  color: white;
  text-align: center;
  &_alert{
    background-color: #ef857d;
  }
  &_notice {
    background-color: #3eb370;
  }
}

input[type="text"] {
  padding-left: 5px;
}

input[type="date"] {
  padding-left: 5px;
}

input[type="number"] {
  padding-left: 5px;
}

input[type="email"] {
  padding-left: 5px;
}

input[type="password"] {
  padding-left: 5px;
}

textarea {
  padding-left: 5px;
}

.btn-primary {
    background: #89c3eb;
    color: #fff;
    border: 1px solid #89c3eb;
}
.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #fff;
    color: #89c3eb;
}

.btn-primary.outline {
    border: 1px solid #89c3eb;
}
