// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin: 3em;
  text-align: center;
  color: #fff;
}

.box_top {
  padding: 30px 10px;
  margin: auto;
  width: 600px;
  text-align: center;
  line-height: 25px;
  color: #474a4d;
  background-color: #fff;
  border-radius: 10px;
}
