// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash {
  color: white;
  text-align: center;
  &_alert{
    background-color: #ef857d;
  }
  &_notice {
    background-color: #82cddd;
  }
}
